.notBlock {
    display: none;
}

.app-sidebar__user-avatar {
    width: 48px;
    padding: 6px;
    background: gray;
}

.app-sidebar__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.app-sidebar__toggle::before {
    display: none;
}

.headerRegister {
    background: #336666;
    color: #fff;
}

.updateRegister {
    background: #50a7a7;
    color: #fff;
}

.app-nav, .app-header, .app-sidebar {
    background: #336666 !important;
}